@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

// Variable Setting
/// Colours
$primary : #15293C;
$secondary : #EA5B0C;

/// Type Setting
$font : 'Montserrat', sans-serif;
$font-size : 1rem;
$font-weight : 400;
$line-height : 1.5;

$h1Size : 35px;
$h2Size : 25px;
$h3Size : 18px;

$p : 16px;

// Things
body {
    font-family: $font;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
    background-color:$primary;
    .container{
        width:100vw;
        height:100vh;
        display:flex;
        justify-content:center;
        align-items:center;
        .wrapper{
            width:100%;
            max-width:1000px;
        }
    }
}

.login{
    display:flex;
    flex-direction:column;
    align-content:center;
    position:relative;
    .logo{
        position:relative;
        display:flex;
        width:100%;
        justify-content:center;
        margin: 0 0 10px 0;
        img{
            width:400px;
        }
    }
    .title, .subtitle, .bottom{
        text-align:center;
        h1{
            font-size:$h1Size;
            color:white;
            margin:50px 0 0 0 ;
        }
        h2{
            font-size:$h2Size;
            margin:5px 0 50px 0;
            color:white;
            font-weight:100;
            font-style:italic;
        }
        p{
            color:white;
        }
    }
    .loginForm{
        text-align:center;
        input{
            width:100% !important;
            margin-bottom:10px !important;
            font-family:$font !important;
            text-align:center!important;
            max-width:500px !important;
            margin:5px!important;
            text-align:center!important;
            padding:10px !important;
            border-bottom:solid $secondary 3px !important;
            background-color:white !important;
            color:$secondary !important;
            font-weight:700 !important;
            ::placeholder{
                color:$secondary !important;
                font-weight:700!important;
            }
            :focus{
                color:$secondary;
            }
        }
        button{
            width:auto;
            background-color:$secondary;
            color:white;
            font-family:$font;
            font-weight:600;
            border:none;
            padding:10px;
            font-size:$h3Size;
            justify-self:center;
            text-align:center;
            display:Block;
        }
    }
}