@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #15293C;
}
body .container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .container .wrapper {
  width: 100%;
  max-width: 1600px;
}

.login {
  display: flex;
  flex-direction: column;
  align-content: center;
  position: relative;
}
.login .logo {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0 0 10px 0;
}
.login .logo img {
  width: 400px;
}
.login .title, .login .subtitle, .login .bottom {
  text-align: center;
}
.login .title h1, .login .subtitle h1, .login .bottom h1 {
  font-size: 35px;
  color: white;
  margin: 50px 0 0 0;
}
.login .title h2, .login .subtitle h2, .login .bottom h2 {
  font-size: 25px;
  margin: 5px 0 50px 0;
  color: white;
  font-weight: 100;
  font-style: italic;
}
.login .title p, .login .subtitle p, .login .bottom p {
  color: white;
}
.login .loginForm {
  text-align: center;
}
.login .loginForm input {
  width: 100% !important;
  margin-bottom: 10px !important;
  font-family: "Montserrat", sans-serif !important;
  text-align: center !important;
  max-width: 500px !important;
  margin: 5px !important;
  text-align: center !important;
  padding: 10px !important;
  border-bottom: solid #EA5B0C 3px !important;
  background-color: white !important;
  color: #EA5B0C !important;
  font-weight: 700 !important;
}
.login .loginForm input ::-moz-placeholder {
  color: #EA5B0C !important;
  font-weight: 700 !important;
}
.login .loginForm input ::placeholder {
  color: #EA5B0C !important;
  font-weight: 700 !important;
}
.login .loginForm input :focus {
  color: #EA5B0C;
}
.login .loginForm button {
  width: auto;
  background-color: #EA5B0C;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  border: none;
  padding: 10px;
  font-size: 18px;
  justify-self: center;
  text-align: center;
  display: Block;
}

.dashboard {
  height: 80vh;
  position: relative;
  display: flex;
  flex-gap: 10px;
  justify-content: center;
}
.dashboard .mainPanel {
  align-self: flex-start;
  position: relative;
  width: 45%;
  height: 100%;
}
.dashboard .mainPanel .Navigation {
  width: 100%;
  margin: 0 0 20px 0;
}
.dashboard .mainPanel .Navigation .signOut {
  color: white;
  font-weight: 100;
  text-decoration: underline;
  font-size: 20px;
  margin: 0;
}
.dashboard .mainPanel .Navigation h1 {
  margin: 10px 0 10px 0;
  font-size: 45px;
  line-height: 40px;
  color: white;
}
.dashboard .mainPanel .Navigation p {
  color: white;
  font-weight: 600;
  font-size: 20px;
}
.dashboard .mainPanel .actionBar {
  display: flex;
  gap: 5px;
  margin: 0 0 20px 0;
}
.dashboard .mainPanel .actionBar button {
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 600;
  padding: 5px 10px 5px 10px;
  border-radius: 0;
  border: none;
  color: white;
  background-color: transparent;
  border: solid white 2px;
  transition: 0.3s ease-in-out;
}
.dashboard .mainPanel .actionBar button:hover {
  background-color: white;
  color: #EA5B0C;
}
.dashboard .mainPanel .actionBar button.active {
  background-color: #EA5B0C !important;
  color: white !important;
  border: none !important;
}
.dashboard .mainPanel .panel {
  position: relative;
  width: 100%;
  height: auto;
  transition: 0.3s ease-in-out;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}
.dashboard .mainPanel .panel .filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.dashboard .mainPanel .panel .filters h2 {
  font-size: 20px;
  color: #EA5B0C;
  margin: 0 0 5px 0;
  width: 100%;
}
.dashboard .mainPanel .panel .filters .section {
  width: auto;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  width: auto;
  position: relative;
}
.dashboard .mainPanel .panel .filters .section h3 {
  align-self: center;
  font-size: 16px;
  color: #EA5B0C;
  font-weight: 600;
}
.dashboard .mainPanel .panel .filters .section span {
  font-family: "Montserrat", sans-serif;
  align-self: center;
  font-size: 16px;
  font-weight: 600;
  color: #15293C;
  opacity: 0.6;
  transition: 0.3s ease-in-out;
}
.dashboard .mainPanel .panel .filters .section span:hover {
  opacity: 0.8;
}
.dashboard .mainPanel .panel .filters .section span:hover.active {
  opacity: 1 !important;
  color: #EA5B0C !important;
}
.dashboard .mainPanel .panel .filters .section input {
  font-family: "Montserrat", sans-serif !important;
  text-align: center !important;
  margin: 5px !important;
  padding: 10px !important;
  border-bottom: solid #EA5B0C 3px !important;
  background-color: white !important;
  color: #EA5B0C !important;
  font-weight: 700 !important;
}
.dashboard .mainPanel .panel .filters .section input ::-moz-placeholder {
  color: #EA5B0C !important;
  font-weight: 700 !important;
}
.dashboard .mainPanel .panel .filters .section input ::placeholder {
  color: #EA5B0C !important;
  font-weight: 700 !important;
}
.dashboard .mainPanel .panel .filters .section input :focus {
  color: #EA5B0C;
}
.dashboard .mainPanel .panel .filters .section select {
  font-family: "Montserrat", sans-serif !important;
  text-align: center !important;
  margin: 5px !important;
  padding: 10px !important;
  border-bottom: solid #EA5B0C 3px !important;
  background-color: white !important;
  color: #EA5B0C !important;
  font-weight: 700 !important;
}
.dashboard .mainPanel .panel .filters .section select ::-moz-placeholder {
  color: #EA5B0C !important;
  font-weight: 700 !important;
}
.dashboard .mainPanel .panel .filters .section select ::placeholder {
  color: #EA5B0C !important;
  font-weight: 700 !important;
}
.dashboard .mainPanel .panel .filters .section select :focus {
  color: #EA5B0C;
}/*# sourceMappingURL=app.css.map */