@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #15293C;
}
body .container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .container .wrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 20px 0 20;
}

.login {
  display: flex;
  flex-direction: column;
  align-content: center;
  position: relative;
}
.login .logo {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0 0 10px 0;
}
.login .logo img {
  width: 400px;
}
.login .title, .login .subtitle, .login .bottom {
  text-align: center;
}
.login .title h1, .login .subtitle h1, .login .bottom h1 {
  font-size: 35px;
  color: white;
  margin: 50px 0 0 0;
}
.login .title h2, .login .subtitle h2, .login .bottom h2 {
  font-size: 25px;
  margin: 5px 0 50px 0;
  color: white;
  font-weight: 100;
  font-style: italic;
}
.login .title p, .login .subtitle p, .login .bottom p {
  color: white;
}
.login .loginForm {
  text-align: center;
  display: Flex;
  flex-direction: column;
  align-items: center;
}
.login .loginForm input {
  width: 600px !important;
  margin-bottom: 20px !important;
  font-family: "Montserrat", sans-serif !important;
  text-align: center !important;
  text-align: center !important;
  padding: 10px !important;
  border-bottom: solid #EA5B0C 3px !important;
  background-color: white !important;
  color: #EA5B0C !important;
  font-weight: 700 !important;
}
.login .loginForm input ::-moz-placeholder {
  color: #EA5B0C !important;
  font-weight: 700 !important;
}
.login .loginForm input ::placeholder {
  color: #EA5B0C !important;
  font-weight: 700 !important;
}
.login .loginForm input :focus {
  color: #EA5B0C;
}
.login .loginForm button {
  width: auto;
  background-color: #EA5B0C;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  border: none;
  padding: 10px;
  font-size: 18px;
  justify-self: center;
  text-align: center;
  display: Block;
}

.dashboard {
  height: 80vh;
  position: relative;
  display: flex;
  gap: 10px;
  justify-content: center;
}
.dashboard .mainPanel {
  align-self: flex-start;
  position: relative;
  width: 800px;
  height: 100%;
}
.dashboard .mainPanel .Navigation {
  width: 100%;
  margin: 0 0 20px 0;
}
.dashboard .mainPanel .Navigation .signOut {
  color: white;
  font-weight: 100;
  text-decoration: underline;
  font-size: 20px;
  margin: 0;
}
.dashboard .mainPanel .Navigation h1 {
  margin: 10px 0 10px 0;
  font-size: 45px;
  line-height: 40px;
  color: white;
}
.dashboard .mainPanel .Navigation p {
  color: white;
  font-weight: 600;
  font-size: 20px;
}
.dashboard .mainPanel .actionBar {
  display: flex;
  gap: 5px;
  margin: 0 0 20px 0;
}
.dashboard .mainPanel .actionBar button {
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 600;
  padding: 5px 10px 5px 10px;
  border-radius: 0;
  border: none;
  color: white;
  background-color: transparent;
  border: solid white 2px;
  transition: 0.3s ease-in-out;
}
.dashboard .mainPanel .actionBar button:hover {
  background-color: white;
  color: #EA5B0C;
}
.dashboard .mainPanel .actionBar button.active {
  background-color: #EA5B0C !important;
  color: white !important;
  border: none !important;
}
.dashboard .mainPanel .panel {
  position: relative;
  height: auto;
  transition: 0.3s ease-in-out;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}
.dashboard .mainPanel .panel .filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.dashboard .mainPanel .panel .filters h2 {
  font-size: 20px;
  color: #EA5B0C;
  margin: 0 0 5px 0;
  width: 100%;
}
.dashboard .mainPanel .panel .filters .section {
  width: auto;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  width: auto;
  position: relative;
}
.dashboard .mainPanel .panel .filters .section h3 {
  align-self: center;
  font-size: 16px;
  color: #EA5B0C;
  font-weight: 600;
}
.dashboard .mainPanel .panel .filters .section span {
  font-family: "Montserrat", sans-serif;
  align-self: center;
  font-size: 16px;
  font-weight: 600;
  color: #15293C;
  opacity: 0.6;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.dashboard .mainPanel .panel .filters .section span:hover {
  opacity: 0.8;
}
.dashboard .mainPanel .panel .filters .section span.active {
  opacity: 1 !important;
  color: #15293C !important;
}
.dashboard .mainPanel .panel .filters .section input {
  font-family: "Montserrat", sans-serif !important;
  text-align: center !important;
  margin: 5px !important;
  padding: 10px !important;
  border-bottom: solid #EA5B0C 3px !important;
  background-color: white !important;
  color: #EA5B0C !important;
  font-weight: 700 !important;
}
.dashboard .mainPanel .panel .filters .section input ::-moz-placeholder {
  color: #EA5B0C !important;
  font-weight: 700 !important;
}
.dashboard .mainPanel .panel .filters .section input ::placeholder {
  color: #EA5B0C !important;
  font-weight: 700 !important;
}
.dashboard .mainPanel .panel .filters .section input :focus {
  color: #EA5B0C;
}
.dashboard .mainPanel .panel .filters .section select {
  font-family: "Montserrat", sans-serif !important;
  text-align: center !important;
  margin: 5px !important;
  padding: 10px !important;
  border-bottom: solid #EA5B0C 3px !important;
  background-color: white !important;
  color: #EA5B0C !important;
  font-weight: 700 !important;
}
.dashboard .mainPanel .panel .filters .section select ::-moz-placeholder {
  color: #EA5B0C !important;
  font-weight: 700 !important;
}
.dashboard .mainPanel .panel .filters .section select ::placeholder {
  color: #EA5B0C !important;
  font-weight: 700 !important;
}
.dashboard .mainPanel .panel .filters .section select :focus {
  color: #EA5B0C;
}
.dashboard .mainPanel .stats h2 {
  margin: 0 0 10px 0;
  font-weight: 700;
  color: #15293C;
}
.dashboard .mainPanel .stats .statsArray, .dashboard .mainPanel .stats .agentArray {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0 0 15px 0;
}
.dashboard .mainPanel .stats .statsArray .figure, .dashboard .mainPanel .stats .agentArray .figure {
  font-size: 18px;
  margin: 0;
  color: #15293C;
  font-weight: 700;
}
.dashboard .mainPanel .stats .statsArray .figure span, .dashboard .mainPanel .stats .agentArray .figure span {
  color: #EA5B0C;
}
.dashboard .masterList {
  align-self: flex-start;
  position: relative;
  width: 100%;
  height: 100%;
}
.dashboard .masterList .list {
  width: 100%;
  position: relative;
}
.dashboard .masterList .list .top {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin: 0 0 10px 0;
}
.dashboard .masterList .list .top h2 {
  font-size: 25px;
  font-weight: 700;
  color: White;
}
.dashboard .masterList .list .top h3 {
  color: white;
  font-weight: 100;
  font-style: italic;
  margin: 0;
}
.dashboard .masterList .list .top .pagination {
  text-align: right;
  flex-grow: 1;
  align-self: flex-end;
}
.dashboard .masterList .list .top .pagination span {
  color: White;
  font-size: 20px;
  font-style: italic;
}
.dashboard .masterList .list .top .pagination button {
  background-color: #EA5B0C;
  color: white;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
}
.dashboard .masterList .list .top .pagination button:hover {
  background-color: #15293C;
}
.dashboard .masterList .list .top .pagination button:disabled {
  opacity: 0.4;
  pointer-events: none;
}
.dashboard .masterList .list .top .paginatiobuttons {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  flex-grow: 1;
  gap: 10px;
}
.dashboard .masterList .list .top .paginatiobuttons span {
  color: white;
  align-self: center;
}
.dashboard .masterList .list .top .paginatiobuttons button {
  background-color: #EA5B0C;
  color: white;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
}
.dashboard .masterList .list .top .paginatiobuttons button:hover {
  background-color: #15293C;
}
.dashboard .masterList .list .top .paginatiobuttons button:disabled {
  opacity: 0.4;
  pointer-events: none;
}
.dashboard .masterList .list .tickets {
  position: relative;
  height: 80vh;
  overflow-y: auto;
}
.dashboard .masterList .list .tickets .single {
  padding: 20px;
  display: Flex;
  height: auto;
  gap: 10px;
  margin: 20px;
  border-radius: 10px;
  background-color: white;
}
.dashboard .masterList .list .tickets .single .content {
  width: 70%;
  align-self: center;
}
.dashboard .masterList .list .tickets .single .content h3 {
  color: #EA5B0C;
  margin: 0 0 10px 0;
}
.dashboard .masterList .list .tickets .single .content p {
  color: #15293C;
  margin: 0 0 20px 0;
}
.dashboard .masterList .list .tickets .single .content span {
  font-weight: 800;
  color: #EA5B0C;
}
.dashboard .masterList .list .tickets .single .meta {
  text-align: right;
  flex-grow: 1;
}
.dashboard .masterList .list .tickets .single .meta span {
  display: Block;
  color: #15293C;
  font-weight: 700;
}
.dashboard .masterList .list .tickets .single .meta button {
  color: white;
  background-color: #EA5B0C;
  padding: 10px;
  transition: 0.3s ease-in-out;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  border: none;
  outline: none;
  font-size: 18px;
  transition: 0.3s ease-in-out;
}
.dashboard .masterList .list .tickets .single .meta button:hover {
  background-color: #15293C;
}
.dashboard .detail {
  padding: 20px;
  position: relative;
}
.dashboard .detail .meta {
  width: 100%;
  display: Flex;
  justify-content: flex-start;
  gap: 10px;
  flex-wrap: wrap;
}
.dashboard .detail .meta span {
  color: #15293C;
  font-weight: 700;
}
.dashboard .detail .head {
  width: 100%;
  position: relative;
  text-align: left;
  margin: 0 0 20px 0;
}
.dashboard .detail .head h2 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 10px;
}
.dashboard .detail .head .counts {
  position: relative;
  display: flex;
  gap: 10px;
}
.dashboard .detail .head .counts span {
  font-weight: 700;
  color: #15293C;
}
.dashboard .detail .head .counts span b {
  color: #EA5B0C;
}
.dashboard .detail .content {
  position: relative;
  width: 100%;
}
.dashboard .detail .content h3 {
  font-size: 20px;
  color: #EA5B0C;
  margin: 0 0 10px 0;
}
.dashboard .detail .content p {
  color: #15293C;
  font-size: 15px;
  font-weight: 400;
}
.dashboard .detail .assign {
  margin: 20px 0 20px 0;
}
.dashboard .detail .assign select {
  border: solid #EA5B0C 2px;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  background-color: white;
  color: #EA5B0C;
  height: 40px;
}
.dashboard .detail .assign button {
  color: white;
  background-color: #15293C;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding: 10px;
}
.dashboard .detail .actions {
  display: flex;
  flex-wrap: Wrap;
  gap: 10px;
  position: relative;
  margin: 10px 0 10px 0;
}
.dashboard .detail .actions button {
  background-color: white;
  border: #15293C solid 2px;
  padding: 10px;
  font-size: 16px;
  color: #15293C;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.dashboard .detail .actions button:hover {
  background-color: #15293C;
  color: White;
}
.dashboard .detail .actions button.active {
  background-color: #EA5B0C !important;
  color: white !important;
}
.dashboard .detail .actions button:disabled {
  opacity: 0.4;
  pointer-events: none;
}/*# sourceMappingURL=app.css.map */